@media (max-width: 650px) {}

:root{
  --main-color: rgba(214, 96, 17,1);
}

html, body{
  height: 100%;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(img/loading.gif) center no-repeat #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: 0s;
}

body {
  height: 100%;
  background-image: url(img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover ;
  background-blend-mode: screen;
  background-color: #747474;
}

header {
  min-width: 780px;
  font-size: 1.5rem;
  font-weight: 300;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 4px 2.5%;
  margin-bottom: 2vmax;
  z-index: 1;
}

#logo-wrap {
  display: inherit;
  align-items: center;
  float: left;
}

#logo-wrap>a>img {
  padding: 4px 0;
  height: 50px;
  display: flex;
  margin: auto;
  transition: 1.5s ease-in-out;
}

#logo-wrap>a>img:hover {
  transition: 1s ease-in-out;
  transform: rotate(360deg) scale(1.2);
}

nav {
  flex: 5;
  display: flex;
  text-align: center;
}

nav>a {
  margin: 0.5rem;
  padding:0.35rem;
  text-decoration: none;
  color: white;
  transition: color 0.4s linear;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 5px;
}

nav > a:first-child{
  margin: auto 10px;
}

nav>a:hover {
  transition: 0.2s linear;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

nav>a:active {
  color: #666;
  border: 1px solid #666;
  transition: 0.1s linear;
}

#current-page {
  color: var(--main-color);
}

nav:hover #current-page {
  color: white;
}

#current-page:hover {
  color: var(--main-color) !important
}

#logout-wrapper {
  text-transform: uppercase;
  align-self: center;
}

#logout-wrapper>a {
  text-decoration: none;
  white-space: nowrap;
  color: white;
}

#logout-wrapper>a:hover {
  color: var(--main-color);
  transition: .25s linear;
}

.main-wrapper {
  margin: auto;
  width: 60%;
}

.main-wrapper>h1 {
  font-size: 3.5rem;
  text-align: center;
  color: var(--main-color);
  padding: 50px 0 30px 0;
}

.main-wrapper>p {
  text-align: center;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.75);
}

.search {
  text-align: center;
  margin-top: 15%;
}

.search-box {
  background-color: transparent;
  padding: 4px 10px;
  border: none;
  border-bottom: 3px solid var(--main-color);
  font-size: 2.5rem;
  color: var(--main-color);
}

.search-box::placeholder {
  color: #666;
  opacity: 1;
}

.search-box:focus {
  outline: none;
}

.wrapper {
  margin: auto;
  margin-top: 5%;
  max-width: 950px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 15%);
  -webkit-box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 15%);
  border-radius: 15px;
  color: var(--main-color);
  font-size: 1.5rem;
  text-align: left;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.main{
  height: 80%;
  display: flex;
}

.wrapper-input {
  display: block;
  margin: auto;
  width: 850px;
  background: rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 15%);
  -webkit-box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 15%);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  transition: .3s ease-in-out;
  padding: 40px;
}

.wrapper-input:hover {
  border: 1px solid var(--main-color);
}

.result-wrapper {
  padding: 15px 15px;
}

.search_info {
  padding-top: 10px;
  display: flex;
  border-bottom: 2px solid rgba(89, 89, 89, 0.5);
}

.search_info:last-child {
  border: none;
  padding-bottom: 10px;
}

.search_info>p:first-child {
  text-align: left;
}

.search_info>p {
  padding: 5px 20px;
  flex: auto;
  text-align: right;
}

.table_results {
  width: 100%;
  border-collapse: collapse;
}

#bad_info {
  padding: 10px;
  font-size: 3rem;
  text-align: center;
}

.add-button {
  text-decoration: none;
  padding: 10px;
  position: relative;
  bottom: -3px;
  font-size: 3rem;
  align-items: center;
  color: var(--main-color);
  transition: 0.5s linear;
}

.add-button:hover {
  transition: 0.2s linear;
  color: rgba(89, 89, 89, 1);
}

.add-form>div>p {
  padding: 10px;
  font-size: 2.5rem;
  color: var(--main-color);
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
}

.row-space {
  display: flex;
  justify-content: space-between;
}
#col-prod {
  width: 27%;
}
#col-nazwa {
  width: 73%;
}
#col-prod-etui {
  width: 30%;
}
#col-nazwa-etui {
  width: 70%;
}
#col-atrybuty {
  width: 100%;
}
#col-cale {
  width: 16%;
}
#col-url {
  width: 30%;
}
#col-inna-nazwa {
  width: 54%;
}
#col-uwagi{
  width: 100%;
}
.input-group {
  margin-bottom: 10px;
  padding: 10px;
}

.add-form-button-wrapper {
  padding: 10px;
  align-self: center;
}

.add-form-button {
  user-select: none;
  font-size: 1.5rem;
  height: 52px;
  max-height: 52px;
  min-height: 30px;
  padding: 0 10px;
  color: #333;
  background-color: var(--main-color);
  border: 2px solid rgba(0, 0, 0, 0.0);
  border-radius: 5px;
  transition: .4s ease-in-out;
}

.add-form-button:hover {
  background-color: var(--main-color);
  box-shadow: 0px 0px 35px 1px var(--main-color);
  -webkit-box-shadow: 0px 0px 35px 1px var(--main-color);
  transition: .4s ease-in-out;
  cursor: pointer;
}

.add-form-button:active {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 1) !important;
  background-color: transparent;
  transition: .01s linear;
}

.label {
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 600;
  padding-left: 2px;
}

.input-style {
  height: 50px;
  color: #666;
  padding: 0 0 0 10px;
  border-radius: 5px;
  background: rgba(32, 23, 19, 0.144);
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  font-size: 1.5rem;
  transition: 0.5s linear;
}
#col-uwagi > .input-group > .input-style{
  transition: none;
  max-width: 100%;
  padding:5px;
  height: 110px;
}

.selection {
  color: #666;
  padding-left: 5px;
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  background: rgba(32, 23, 19, 0.144);
  font-size: 1.75rem;
  transition: 0.2s ease-in-out;
}

.selection:hover,
.input-style:hover {
  border: 1px solid var(--main-color);
  transition: 0.2s ease-in-out;
}

input[class="input-style"]:focus:valid {
  transition: .1s linear;
  border: 2px solid rgba(0, 200, 0, 0.3);
}

.checkbox-cont-wrapper {
  padding-left: 10px;
}

.checkbox-cont {
  user-select: none;
  color: #666;
  padding-right: 20px;
  font-size: 175%;
  cursor: pointer;
}

.checkbox {
  vertical-align: middle;
  position: relative;
  top: -2px;
  transform: scale(2);
  margin: 10px;
}

.box {
  color: var(--main-color);
  font-size: 1.6rem;
}

.checkbox-cont>input {
  height: 14px;
  width: 14px;
  appearance: none;
  border: 1px solid rgba(102, 102, 102, 0.37);
  border-radius: 2px;
  transition-duration: 0.3s;
  background-color: rgba(0, 0, 0, 0.12);
  cursor: pointer;
  box-shadow: 0px 0px 35px 1px #747474;
}

.checkbox-cont>input:checked {
  border: 1px solid var(--main-color);
}

.checkbox-cont>input:hover {
  border: 1px solid var(--main-color)
}

.checkbox-cont>span {
  transition: .2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: relative;
  left: -35px;
  bottom: 1px;
}

.checkbox-cont>input:checked~span {
  opacity: 1;
  transition: .2s linear;
  visibility: visible;
}
.table_results > tbody > tr > td{
  padding:6px;
}

.table_results > tbody > tr:hover:first-child {
  box-shadow:none;
}

.table_results >tbody >tr >td:first-child,
.table_results >tbody > tr>th:first-child{
  padding-left: 10px;
}
.table_results >tbody > tr>th{
  padding-bottom: 10px;
}

.table_results > tbody > tr:hover {
  border-radius: 10px;
  box-shadow: 0px 0px 25px 7px rgba(128, 128, 128, 0.288);
}
.buton-search-result{
  text-align: center ;
}

.search-actions-buttons{
  background-color: transparent;
  cursor: pointer;
  border:none;
  vertical-align: middle;
  color:var(--main-color);
}

.search-actions-buttons > img{
  height: 2rem;
  vertical-align: middle;
}

.search-actions-buttons > img:hover{
  transform: scale(1.2);
}

#info-icon:hover{
  filter: drop-shadow( 0px 0px 5px rgba(26, 120, 30,0.9));
}

#edit-icon:hover{
  filter: drop-shadow( 0px 0px 5px rgba(116, 116, 116, 0.9));
}

#delete-icon:hover{
  filter: drop-shadow( 0px 0px 5px rgba(161, 24, 24, 0.9));

}
